<div class="panel panel-default application-overview">
    <div class="panel-heading">
        <i class=" icon-home"></i> 应用<strong class='text-primary'>{{name}}</strong>在<strong class='text-primary'>{{dayRange}}</strong>天以内的TOP200<span style="float: right;cursor: pointer;" full-screen   target-class="'application-overview'"><a href="#/monitor/{{name}}/index">详细信息>></a>&nbsp;&nbsp;</span>
    </div>
    <div class="panel-body">
        <div class="row"  style="padding-bottom: 10px;">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
            	<span class="label {{dayRange==0?'label-warning':'label-default'}} can-click" ng-click="switchTimeRange(0)">全部</span>
                <span class="label {{dayRange==30?'label-warning':'label-primary'}} can-click" ng-click="switchTimeRange(30)">一个月以内</span>
                <span class="label {{dayRange==21?'label-warning':'label-primary'}}  can-click" ng-click="switchTimeRange(21)">三周以内</span>
                <span class="label  {{dayRange==14?'label-warning':'label-primary'}} can-click" ng-click="switchTimeRange(14)">两周以内</span>
                <span class="label {{dayRange==7?'label-warning':'label-primary'}}    can-click"  ng-click="switchTimeRange(7)">一周以内</span>
                <span class="label  {{dayRange==6?'label-warning':'label-info'}}  can-click" ng-click="switchTimeRange(6)">6天以内</span>
                <span class="label  {{dayRange==5?'label-warning':'label-info'}}   can-click" ng-click="switchTimeRange(5)">5天以内</span>
                <span class="label {{dayRange==4?'label-warning':'label-info'}}  can-click" ng-click="switchTimeRange(4)">4天以内</span>
                <span class="label  {{dayRange==3?'label-warning':'label-info'}}  can-click" ng-click="switchTimeRange(3)">3天以内</span>
                <span class="label  {{dayRange==2?'label-warning':'label-info'}} can-click" ng-click="switchTimeRange(2)">2天以内</span>
                <span class="label  {{dayRange==1?'label-warning':'label-danger'}} can-click" ng-click="switchTimeRange(1)">一天以内</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 application-overview">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <ul class="nav nav-tabs">
                            <li role="presentation" ng-click="switchView('chart')" class="{{showType=='chart'?'active':''}} can-click"><a href="javascript:void(0);">图表</a></li>
                            <li role="presentation" ng-click="switchView('success')" class="{{showType=='success'?'active':''}} can-click"><a href="javascript:void(0);">成功详细列表</a></li>
                            <li role="presentation" ng-click="switchView('fault')" class="{{showType=='fault'?'active':''}} can-click"><a href="javascript:void(0);">失败详细列表</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" ng-show="showType=='chart'">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 max-view-height" >
                        <div class="row" >
                         <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" style='width:100%'>
                                <line-chart chart-options="app.success"></line-chart>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" style='width:100%'>
                                <line-chart chart-options="app.fault"></line-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="showType=='fault'">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 max-view-height">
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>失败数量</th>
                                <th>服务名称</th>
                                <th>方法名称</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="{{fault.remoteType=='CONSUMER'?'success':''}}"  title="{{fault.remoteType=='CONSUMER'?'提供端':'消费端'}}"  ng-repeat="fault in app.overview.faultItems">
                                <td>{{$index+1}}</td>
                                <td>{{fault.fault}}</td>
                                <td>{{fault.service}}</td>
                                <td>{{fault.method}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 max-view-height">
                        <h5><strong>总调用量：</strong>{{app.overview.faultTotal}}</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchFault">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="searchService(searchFault)">
                                Go
                              </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="showType=='success'">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 max-view-height">
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>成功数量</th>
                                <th>服务名称</th>
                                <th>方法名称</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="{{success.remoteType=='CONSUMER'?'success':''}}"  title="{{success.remoteType=='CONSUMER'?'提供端':'消费端'}}"  ng-repeat="success in app.overview.successItems">
                                <td>{{$index+1}}</td>
                                <td>{{success.success}}</td>
                                <td>{{success.service}}</td>
                                <td>{{success.method}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 max-view-height">
                        <h5><strong>总调用量：</strong>{{app.overview.successTotal}}</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchSuccess">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="searchService(searchSuccess)">
                                Go
                              </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>